name: govulncheck
on:
  push:
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
    govulncheck_job:
        runs-on: ubuntu-latest
        name: Run govulncheck
        steps:
          - id: govulncheck
            uses: golang/govulncheck-action@v1
            with:
                go-version-input: 1.24
